:root {
  --primary-color: rgb(29, 29, 29);
  --accent-color: rgb(58, 58, 58);
  --text: rgb(255, 255, 255);
  --bg: rgb(29, 29, 29);
  --card: rgb(32, 32, 32);
  --radius: 8px;
  --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

img {
  max-width: 100%;
  border-radius: var(--radius);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.site-header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(var(--primary-color), var(--accent-color));
  text-align: center;
  padding: 20px 20px;
  border-bottom: 1px solid white;
  z-index: 10;
}

.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav {
  display: flex;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-list a {
  color: var(--text);
  text-decoration: none;
  padding: 10px 16px;
  transition: 0.3s;
  border-radius: var(--radius);
  cursor: pointer;
}

.nav-list a:hover,
.nav-list a.active {
  background: var(--accent-color);
  transform: translateY(6px);
  box-shadow: 0px 6px rgba(0, 0, 0, 0.2);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--text);
}

@media (max-width: 800px) {
  .nav-toggle-label {
    display: block;
  }

  .nav-list {
    position: absolute;
    right: 1rem;
    top: 60px;
    background: rgba(10, 15, 30, 0.85);
    padding: 1rem;
    border-radius: 10px;
    flex-direction: column;
    display: none;
  }


  .nav-toggle:checked ~ .site-nav .nav-list {
    display: flex;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 2rem;
  align-items: left;
}

.main-image {
  width: 50%;
  border-radius: var(--radius);
}

.contact-me-form {
  display: grid;
  gap: 1.2rem;
}
.contact-me-form input,
.contact-me-form textarea {
  background: var(--card);
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 8px;
  padding: 0.7rem;
  color: rgb(255, 255, 255);
}

.skills-grid,
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 1.3rem;
}

.card,
.project-card {
  background: var(--card);
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--radius);
  transition: 0.25s;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.card:hover,
.project-card:hover {
  transform: translateY(-5px);
}

.btn {
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  display: inline-block;
  font-weight: 600;
  transition: 0.2s;
}

.primary {
  background: linear-gradient(90deg, var(--primary-color), #a1a1a1);
  color: white;
}
.primary:hover {
  transform: translateY(-3px);
  box-shadow: var(--accent-color);
}

