.sidebar {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;              
  padding: 10px;
  background-image: linear-gradient(rgb(32, 32, 32), black);
  position: sticky;       
  top: 0;
  left: 0;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #9e9e9e;
  display: block;
  border-radius: 8px;   
  transition: 0.3s;  
}

.sidebar a:hover {
  color: #f1f1f1;
  background-color: #555;
  border-radius: 8px;
  transform: translate(0px, -6px);
  box-shadow:0px 8px #3d3d3d;
}